body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

#header {
    width: 100%;
    height: 120px;
    background-color: rgb(39, 37, 37);
}

.logo {
    position: relative;
    left: 100px;
    top: 20px;
}

.air {
    color: blue;
    font-size: 30px;
    font-family: fantasy;
    position: absolute;
    top: -30px;
    left: -40px;
}

.line {
    color: white;
    font-size: 30px;
    font-family: fantasy;
}

.logo h6 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: -10px;
    left: -60px;
}

.li li {
    display: inline;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.li {
    color: white;
    margin-left: 500px;
}

.home {
    box-sizing: border-box;
    background-color: black;
}

.media {
    color: white;
    font-size: 20px;
    margin-left: 810px;
    margin-top: -90px;
}

.media span {
    padding: 10px;
}

.slider {
    width: 80%;
    height: 500px;
    margin-left: 150px;
}

.airimg img {
    width: 100%;
    height: 500px;
}

.p1 {
    color: rgb(16, 14, 14);
    font-size: 60px;
    position: relative;
    color: white;
}

.comfort {
    position: absolute;
    top: -450px;
    left: 80px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.guarented {
    position: absolute;
    top: -400px;
    left: 150px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.lorem {
    color: white;
    font-size: 20px;
    text-align: left;
    position: absolute;
    top: -200px;
}

.ticket {
    width: 200px;
    height: 30px;
    position: absolute;
    background-color: rgb(7, 7, 7);
    margin-left: 230px;
    margin-top: -20px;
    z-index: 1;
    border-radius: 5px;
}

.ticket p {
    color: white;
    text-align: center;
    margin-top: 5px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.fa-angle-right {
    margin-left: 15px;
}

#section1 {
    width: 40%;
    height: 850px;
    background-color: rgb(201, 197, 197);
    margin-left: 150px;
    position: relative;
}

.planner {
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ul1 {
    margin-top: 100px;
    margin-left: 50px;
    position: absolute;
    font-size: 15px;
}

.ul2 {
    margin-top: 100px;
    margin-left: 250px;
    position: absolute;
    font-size: 15px;
}

.form {
    position: absolute;
    top: 190px;
    left: 70px;
}

.button {
    width: 110px;
    height: 30px;
    background-color: blue;
    color: white;
    border: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.news {
    position: absolute;
    top: 400px;
    left: 70px;
}

.news h1 {
    font-size: 50px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.date1 {
    position: absolute;
    top: 500px;
    left: 70px;
}

.date1 p {
    color: blue;
    font-size: 20px;
}

.date2 {
    position: absolute;
    top: 600px;
    left: 70px;
}

.date2 p {
    color: blue;
    font-size: 20px;
}

.date3 {
    position: absolute;
    top: 700px;
    left: 70px;
}

.date3 p {
    color: blue;
    font-size: 20px;
}

#section2 {
    width: 50%;
    height: 900px;
    position: relative;
    top: -848px;
    left: 655px;
}

.welcome {
    position: absolute;
    left: 50px;
}

.welcome h1 {
    color: black;
    font-family: cursive;
}

.welcome p {
    color: blue;
    text-align: justify;
}

.dot {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 280px;
    left: 50px;
    background-color: black;
    border-radius: 20px;
}

.aircarft {
    position: absolute;
    top: 250px;
    left: 80px;
}

.btn {
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

.charecter {
    position: absolute;
    top: 430px;
    left: 80px;
}

.dot1 {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 460px;
    left: 50px;
    background-color: black;
    border-radius: 20px;
}

.btn1 {
    width: 100px;
    height: 30px;
    background-color: rgb(104, 22, 198);
    color: white;
    border: none;
    border-radius: 5px;
}

.btn2 {
    width: 130px;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

.clint {
    position: absolute;
    top: 630px;
    left: 80px;
}

.b {
    color: red;
    text-decoration: underline;
}

.thomas {
    width: auto;
    height: 250px;
    position: absolute;
    top: 650px;
    left: 300px;
}

.thomas img {
    width: 200px;
    height: 250px;
}

.thomas p {
    position: absolute;
    top: 30px;
    left: 20px;
    color: antiquewhite;
}

.thomas h3 {
    position: absolute;
    top: 200px;
    left: 10px;
    color: rgb(24, 8, 116);
}

.footter {
    width: 100%;
    height: 100px;
    background-color: black;
    position: absolute;
    top: 1580px;
}

.footter p {
    color: antiquewhite;
    padding: 20px;
    margin-left: 90px;
}

/* our aircraft css */

.planimage {
    width: 100%;
    height: auto;
    background-color: #161a35;
}

.book-ticket {
    margin-left: 500px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.ticket-p {
    width: 100%;
    margin-left: -200px;
    text-align: center;
}

.get-btn {
    width: 150px;
    height: 30px;
    background-color: #eb127b;
    border: none;
    border-radius: 10px;
}

/* flite booking css */

#main1-section {
    width: 100%;
    height: 500px;
    background-color: #161a35;
}

.user {
    width: 100%;
    width: 50px;
    display: flex;
    flex-direction: row;
}

.fa-user {
    font-size: 50px !important;
    color: white;
    margin-left: 100px;
    margin-top: 28px;
}

.welcome {
    color: wheat;
    margin-left: 100px;
}

.fa-bell {
    font-size: 50px !important;
    color: rgb(19, 18, 18);
    margin-left: 900px;
    margin-top: 30px;
    background-color: aliceblue;
    border-radius: 50px;
}

.book-ticket {
    color: wheat;
    margin-top: 100px;
}

#main2-section {
    width: 400px;
    height: auto;
    position: relative;
    background-color: white;
    border-radius: 10px;
    top: -260px;
    left: 480px;
}

.oneway {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}

.btnway {
    width: 100px;
    height: 45px;
    text-align: justify;
    margin: 10px;
}

.fa-check-circle {
    font-size: 15px !important;
    color: #eb127b;
    padding: 10px;
}

.from,
.city {
    margin-left: 160px;
}

.dotted {
    width: 150px;
    height: 150px;
    border: 3px dotted black;
    border-left: none;
    margin-left: 40px;
}




.fa-plane {
    font-size: 50px !important;
    color: #eb127b;
    position: absolute;
    top: 170px;
    left: 172px;
    rotate: 135deg;
}

.depart {
    margin-left: 40px;
}

.passenger {
    margin-left: 120px;
}

.btn-flight {
    width: 150px;
    height: 35px;
    background-color: #eb127b;
    border: none;
    margin-left: 120px;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.con {
    font-size: 17px;
    margin-left: 120px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.booking-media {
    width: 400px;
    height: 50px;
    background-color: black;
    margin-left: 0px;
    border-radius: 20px;
}

.booking-media span {
    color: white;
    font-size: 20px;
    padding: 15px;
    margin-left: 30px;
}

#loader {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 20%;
    left: 40%;

    background: url("./image/loader.3.gif") no-repeat;
    background-size: 250px 250px;
    display: block;
}

#main1 {
    display: none;
}


.login-from
{
    height: 500px;
    width: 500px;
    text-align: center;
    margin-left: 400px;
    color: white;
    border:2px solid red;
    margin-top: 50px;
}
#number,#pass{
    width: 200px;
    height: 40px;
    background-color: burlywood;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;

}

.btn-login
{
    width: 200px;
    height: 40px;
    background-color: brown;
    cursor: pointer;
    margin-top: 80px;
}
.login
{
    font-size: 60px;
}