body
{
    overflow: hidden;
}
#section1
{
    width: auto;
    height: auto;
    margin: 0%;
    padding: 0%;
}
.img1
{
    width: 100%;
    height: 600px;
}
.img1 img
{
    width: 100%;
    height: 600px;
}
.img2
{
    width: auto;
    height: 100px;
    position: absolute;
    top: 200px;

}
.img2 img
{
    width: 99%;
    
}
.ourteam
{
   position: absolute;
   top: 99px;
   left: 530px; 
   color: white;
}
.p
{
    color: white;
    position: absolute;
    top: 160px;
    left: 450px;
    
}
.line1
{
    width: 110px;
    height: 2px;
    background: white;
    position: absolute;
    top: 210px;
    left: 470px;
}
.round
{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: red;
    position: absolute;
    top: 204px;
    left: 600px;
}
.line2
{
    width: 110px;
    height: 2px;
    background: white;
    position: absolute;
    top: 210px;
    left: 630px;
}
.photo1
{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 445px;
    left: 100px;

}
.photo1 img
{
    width:70px;
    height: 70px; 
    border: 2px solid red;
    border-radius:50%;
}
.ph1
{
    width: 20%;
    height: 100px;
    position: absolute;
    top: 500px;
    left: 100px;
    color: red;
    display: none;

}
.ph1 h6
{
    color: white;
}
.photo1:hover + .ph1
{
    display: block;
}
.photo1:hover
{
    scale: 110%;
}
.photo2
{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 390px;
    left: 290px;

}
.photo2 img
{
    width:70px;
    height: 70px; 
    border: 2px solid red;
    border-radius:50%;
}
.ph2
{
    width: 20%;
    height: 100px;
    position: absolute;
    top: 450px;
    left: 280px;
    color: red;
    display: none;
}
.ph2 h6
{
    color: white;
}
.photo2:hover + .ph2
{
    display: block;
}
.photo2:hover
{
    scale: 110%;
}

.photo3
{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 360px;
    left: 500px;

}
.photo3 img
{
    width:70px;
    height: 70px; 
    border: 2px solid red;
    border-radius:50%;
}
.ph3
{
    width: 20%;
    height: 100px;
    position: absolute;
    top: 430px;
    left: 500px;
    color: red;
    display: none;
}
.ph3 h6
{
    color: white;
}
.photo3:hover + .ph3
{
    display: block;
}
.photo3:hover
{
    scale: 110%;
}

.photo4
{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 378px;
    left: 700px;

}
.photo4 img
{
    width:70px;
    height: 70px; 
    border: 2px solid red;
    border-radius:50%;
}
.ph4
{
    width: 20%;
    height: 100px;
    position: absolute;
    top: 450px;
    left: 700px;
    color: red;
    display: none;
}
.ph4 h6
{
    color: white;
}
.photo4:hover + .ph4
{
    display: block;
}
.photo4:hover
{
    scale: 110%;
}
.photo5
{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 378px;
    left: 900px;

}
.photo5 img
{
    width:70px;
    height: 70px; 
    border: 2px solid red;
    border-radius:50%;
}
.ph5
{
    width: 20%;
    height: 100px;
    position: absolute;
    top: 450px;
    left: 900px;
    color: red;
    display: none;
}
.ph5 h6
{
    color: white;
}
.photo5:hover + .ph5
{
    display: block;
}
.photo5:hover
{
scale: 110%;
}